{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    {% comment %} bootstrap {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap\css\bootstrap.min.css' %}">
    {% comment %} css {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header class="header sticky-top">
        <div class="header-container d-flex">
            <navbar class="header-nav pt-4">
                <ul class="header-list d-flex">
                    <li>
                        <a href="/" class="nav-a m-3">Home</a>
                    </li>
                    <li>
                        <a href="/shop" class="nav-a m-3">Shop</a>
                    </li>

                    {% if user.is_authenticated and user.role == 'admin' %}
                        <li>
                            <a href="{% url 'main:admin_panel' %}" class="nav-a m-3 text-danger">Admin</a>
                        </li>
                    {% endif %}

                    {% if user.is_authenticated and user.role == 'staff' %}
                        <li>
                            <a href="{% url 'users:staff_dashboard' %}" class="nav-a m-3 text-success">Staff</a>
                        </li>
                    {% endif %}
                </ul>
            </navbar>
            <div class="header-logo">
                <a href="/shop"><img src="{% static 'img/qwewqe.png' %}" alt="" class="mumei-logo"></a>
            </div>
            <div class="header-profile pt-2">
                <a href="{% url "cart:cart_detail" %}"><img src="{% static 'img/grob.png' %}" class="grob" alt=""></a>
                {% if user.is_authenticated %}
                    <a href="{% url "users:profile" %}">PROFILE</a>
                {% else %}
                    <a href="{% url "users:login" %}" class="m-2">LOGIN</a>
                {% endif %}
                <p class="cart-quantity">
                    {% with cart_quantity=cart|length %}
                        {% if cart_quantity > 0 %}
                            {{ cart_quantity }}
                        {% else %}
                            0
                        {% endif %}
                    {% endwith %}
                </p>
            </div>
        </div> 
    </header>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    <footer class="footer py-3 bg-light text-center">
        <nav>
            <a href="{% url 'info:news' %}">Новости</a> |
            <a href="{% url 'info:about_company' %}">О компании</a> |
            <a href="{% url 'info:privacy_policy' %}">Политика конфиденциальности</a> |
            <a href="{% url 'info:faq' %}">Словарь терминов</a> |
            <a href="{% url 'info:vacancies' %}">Вакансии</a>
        </nav>
    </footer>

    {% comment %} <img src="{% static 'img/frame1.png' %}" class="frame1" alt="">
    <img src="{% static 'img/frame2.png' %}" class="frame2" alt="">
    <img src="{% static 'img/frame3.png' %}" class="frame3" alt="">
    <img src="{% static 'img/frame4.png' %}" class="frame4" alt=""> {% endcomment %}
    
    {% comment %} js for bootstrap {% endcomment %}
    <script src="{% static 'bootstrap\js\bootstrap.bundle.min.js' %}"></script>
</body>
</html>